.authView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100vw;
  height: 90vh;
}

.authView > * {
  position: relative;
  bottom: 10vh;
  margin: 0.5vh;
}

.authView > h1 {
  font-size: 5vmax;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.alignFields {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}
